﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- CSS -->
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/agency.css")
    @Styles.Render("~/font-awesome/css/font-awesome.min.css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script>

        var app = angular.module("myApp", []);

        app.controller("myCtrl", function($scope) {
            $scope.test = "ZOPA";
        });

    </script>

</head>

<body class="index" ng-app="myApp" ng-controller="myCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">CV Generator</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_Cabinet")
                    <li>
                        <a href="~/Templates/Index">Templates</a>
                    <li>
                        <a href="~/Home/Index">Home</a>
                    </li>
                    <li>
                        <a href="~/Home/Contact">Contact</a>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- VIEWS LOADED HERE-->
    @RenderBody()
    <!-- VIEWS LOADED HERE-->

    <footer>
        <div class="container">
            <p class="text-left">&copy; CV Generator 2016</p>
        </div>
    </footer>


    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/agency.js")
    @RenderSection("scripts", required: false)


    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    @Scripts.Render("~/Scripts/classie.js")
    @Scripts.Render("~/Scripts/cbpAnimatedHeader.js")
    @Scripts.Render("~/Scripts/jqBootstrapValidation.js")

</body>

</html>
