﻿@model CvGenProject.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<div class="marginator-150"></div>

<div class="container">

    <h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <dl class=dl-horizontal">
            <dd>
                
                @if (Model.HasPassword)
                {
                    <a class="btn btn-info" href="/Manage/ChangePassword">Change your password</a>
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                
        </dl>
    </div>

</div>