﻿@model IEnumerable<CvGenProject.Models.TemplateForm>

<div class="marginator-150">
<div class="container blueLink">
    <h2>This is your Cabinet</h2>

    <p>List of your CVs</p>
    <ul>
        @foreach (CvGenProject.Models.TemplateForm cv in Model)
        { 
            
            <li><a href="/CV/ShowCV?id=@cv.CvUrl" target="_blank">CV with template - @cv.TemplateName</a></li>
        }
    </ul>
</div>