﻿@model CvGenProject.Models.TemplateForm


<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@Model.Name's Resume</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        body {
            margin-top:150px;
            font: 16px Helvetica, Sans-Serif;
            line-height: 24px;
            background: url(images/noise.jpg);
        }

        .clear {
            clear: both;
        }

        #page-wrap {
            width: 800px;
            margin: 40px auto 60px;
        }

        #pic {
            float: right;
            margin: -30px 0 0 0;
        }

        h1 {
            margin: 0 0 16px 0;
            padding: 0 0 16px 0;
            font-size: 42px;
            font-weight: bold;
            letter-spacing: -2px;
            border-bottom: 1px solid #999;
        }

        h2 {
            font-size: 20px;
            margin: 0 0 6px 0;
            position: relative;
        }

            h2 span {
                position: absolute;
                bottom: 0;
                right: 0;
                font-style: italic;
                font-family: Georgia, Serif;
                font-size: 16px;
                color: #999;
                font-weight: normal;
            }

        p {
            margin: 0 0 16px 0;
        }

        a {
            color: #999;
            text-decoration: none;
            border-bottom: 1px dotted #999;
        }

            a:hover {
                border-bottom-style: solid;
                color: black;
            }

        ul {
            margin: 0 0 32px 17px;
        }

        #objective {
            width: 500px;
            float: left;
        }

            #objective p {
                font-family: Georgia, Serif;
                font-style: italic;
                color: #666;
            }

        dt {
            font-style: italic;
            font-weight: bold;
            font-size: 18px;
            text-align: right;
            padding: 0 26px 0 0;
            width: 150px;
            float: left;
            height: 100px;
            border-right: 1px solid #999;
        }

        dd {
            width: 600px;
            float: right;
        }

            dd.clear {
                float: none;
                margin: 0;
                height: 15px;
            }
    </style>
</head>
<body>
    <div id="page-wrap">

        <!--<img src="images/cthulu.png" alt="Photo of Cthulu" id="pic" />-->

        <div id="contact-info" class="vcard">

            <!-- Microformats! -->

            <h1 class="fn">@Model.Name</h1>

            <p>
                Phone: <span class="tel">@Model.Phone</span><br />
                Email: <a class="email" href="mailto:@Model.Email">@Model.Email</a>
            </p>
        </div>

        <div id="objective">
            <p>
                @Model.Profile
            </p>
        </div>

        <div class="clear"></div>

        <dl>
            <dd class="clear"></dd>

            <dt>Education</dt>
            
            <!-- EDUCATION START -->
            <!-- EDUCATION 1 -->
            @if (Model.Education1School != null)
            {
                <dd>
                    <h2>@Model.Education1Name</h2>
                    <p>
                        <strong>School:</strong> @Model.Education1School <br />
                        <strong>Period:</strong> @Model.Education1Period
                    </p>
                </dd>
            }
            <!-- EDUCATION 2 -->
            @if (Model.Education2School != null)
            {
                <dd>
                    <h2>@Model.Education2Name</h2>
                    <p>
                        <strong>School:</strong> @Model.Education2School <br />
                        <strong>Period:</strong> @Model.Education2Period
                    </p>
                </dd>
            }
            <!-- EDUCATION 3 -->
            @if (Model.Education3School != null)
            {
                <dd>
                    <h2>@Model.Education3Name</h2>
                    <p>
                        <strong>School:</strong> @Model.Education3School <br />
                        <strong>Period:</strong> @Model.Education3Period
                    </p>
                </dd>
            }

            <!-- EDUCATION 4 -->
            @if (Model.Education4School != null)
            {
                <dd>
                    <h2>@Model.Education4Name</h2>
                    <p>
                        <strong>School:</strong> @Model.Education4School <br />
                        <strong>Period:</strong> @Model.Education4Period
                    </p>
                </dd>
            }

            <!-- EDUCATION 5 -->
            @if (Model.Education5School != null)
            {
                <dd>
                    <h2>@Model.Education5Name</h2>
                    <p>
                        <strong>School:</strong> @Model.Education5School <br />
                        <strong>Period:</strong> @Model.Education5Period
                    </p>
                </dd>
            }

            <!-- EDUCATION 6 -->
            @if (Model.Education6School != null)
            {
                <dd>
                    <h2>@Model.Education6Name</h2>
                    <p>
                        <strong>School:</strong> @Model.Education6School <br />
                        <strong>Period:</strong> @Model.Education6Period
                    </p>
                </dd>
            }
            
            <!-- EDUCATION FINISH -->
            <!-- =================================================================== -->
            <!-- SKILLS START -->

            <dd class="clear"></dd>

            <dt>Skills</dt>
            <dd>
                <!-- SKILLS 1 -->
                @if (Model.Skill1Name != null)
                {
                    <h2>@Model.Skill1Name</h2>
                    <p>@Model.Skill1Description</p>
                }
                <!-- SKILLS 2 -->
                @if (Model.Skill2Name != null)
                {
                    <h2>@Model.Skill2Name</h2>
                    <p>@Model.Skill2Description</p>
                }
                <!-- SKILLS 3 -->
                @if (Model.Skill3Name != null)
                {
                    <h2>@Model.Skill3Name</h2>
                    <p>@Model.Skill3Description</p>
                }
                <!-- SKILLS 4 -->
                @if (Model.Skill4Name != null)
                {
                    <h2>@Model.Skill4Name</h2>
                    <p>@Model.Skill4Description</p>
                }
                <!-- SKILLS 5 -->
                @if (Model.Skill5Name != null)
                {
                    <h2>@Model.Skill5Name</h2>
                    <p>@Model.Skill5Description</p>
                }
                <!-- SKILLS 6 -->
                @if (Model.Skill6Name != null)
                {
                    <h2>@Model.Skill6Name</h2>
                    <p>@Model.Skill6Description</p>
                }
            </dd>
            <!-- SKILLS FINISH -->
            <!-- =================================================================== -->
            <dd class="clear"></dd>

            <dt>Additional Skills</dt>
            <dd>@Model.Technical</dd>

            <dd class="clear"></dd>

            <!-- EXPERIENCE START -->
            <dt>Experience</dt>
            <dd>
                <!-- EXPERIENCE 1 -->
                @if (Model.Experience1Name != null)
                {
                    <h2>@Model.Experience1Name <span>@Model.Experience1Position (@Model.Experience1Period)</span></h2>
                    <p>@Model.Experience1Description</p>
                }

                <!-- EXPERIENCE 2 -->
                @if (Model.Experience2Name != null)
                {
                    <h2>@Model.Experience2Name <span>@Model.Experience2Position (@Model.Experience2Period)</span></h2>
                    <p>@Model.Experience2Description</p>
                }

                <!-- EXPERIENCE 3 -->
                @if (Model.Experience3Name != null)
                {
                    <h2>@Model.Experience3Name <span>@Model.Experience3Position (@Model.Experience3Period)</span></h2>
                    <p>@Model.Experience3Description</p>
                }

                <!-- EXPERIENCE 4 -->
                @if (Model.Experience4Name != null)
                {
                    <h2>@Model.Experience4Name <span>@Model.Experience4Position (@Model.Experience4Period)</span></h2>
                    <p>@Model.Experience4Description</p>
                }

                <!-- EXPERIENCE 5 -->
                @if (Model.Experience5Name != null)
                {
                    <h2>@Model.Experience5Name <span>@Model.Experience5Position (@Model.Experience5Period)</span></h2>
                    <p>@Model.Experience5Description</p>
                }

                <!-- EXPERIENCE 6 -->
                @if (Model.Experience6Name != null)
                {
                    <h2>@Model.Experience6Name <span>@Model.Experience6Position (@Model.Experience6Period)</span></h2>
                    <p>@Model.Experience6Description</p>
                }
                
            </dd>
            <!-- EXPERIENCE FINISH -->
            <!-- =================================================================================== -->
            <dd class="clear"></dd>

         </dl>

        <div class="clear"></div>

    </div>
</body>
</html>

