﻿@model CvGenProject.Models.TemplateForm

@{
    ViewBag.Title = "ShowCV";
}

<html>
<head>

    <title>@Model.Name | @Model.Phone</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
    <style type="text/css">
        .msg {
            padding: 10px;
            background: #222;
            position: relative;
        }

            .msg h1 {
                color: #fff;
            }

            .msg a {
                margin-left: 20px;
                background: #408814;
                color: white;
                padding: 4px 8px;
                text-decoration: none;
            }

                .msg a:hover {
                    background: #266400;
                }

        /* //-- yui-grids style overrides -- */
        body {
            font-family: Georgia;
            color: #444;
        }

        #inner {
            padding: 10px 80px;
            margin: 80px auto;
            background: #f5f5f5;
            border: solid #666;
            border-width: 8px 0 2px 0;
        }

        .yui-gf {
            margin-bottom: 2em;
            padding-bottom: 2em;
            border-bottom: 1px solid #ccc;
        }

        /* //-- header, body, footer -- */
        #hd {
            margin: 2.5em 0 3em 0;
            padding-bottom: 1.5em;
            border-bottom: 1px solid #ccc !important;
        }

            #hd h2 {
                text-transform: uppercase;
                letter-spacing: 2px;
            }

        #bd, #ft {
            margin-bottom: 2em;
        }

        /* //-- footer -- */
        #ft {
            padding: 1em 0 5em 0;
            font-size: 92%;
            border-top: 1px solid #ccc;
            text-align: center;
        }

            #ft p {
                margin-bottom: 0;
                text-align: center;
            }

        /* //-- core typography and style -- */
        #hd h1 {
            font-size: 48px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        h2 {
            font-size: 16px;
        }

        h3, h4 {
            font-size: 14px;
        }

        h1, h2, h3, h4 {
            color: #333;
        }

        p {
            font-size: 100%;
            line-height: 18px;
            padding-right: 3em;
        }

        a {
            color: #990003;
        }

            a:hover {
                text-decoration: none;
            }

        strong {
            font-weight: bold;
        }

        li {
            line-height: 24px;
            border-bottom: 1px solid #ccc;
        }

        p.enlarge {
            font-size: 144%;
            padding-right: 6.5em;
            line-height: 24px;
        }

            p.enlarge span {
                color: #000;
            }

        .contact-info {
            margin-top: 7px;
        }

        .first h2 {
            font-style: italic;
        }

        .last {
            border-bottom: 0;
        }


        /* //-- section styles -- */

        a#pdf {
            display: block;
            float: left;
            background: #666;
            color: white;
            padding: 6px 50px 6px 12px;
            margin-bottom: 6px;
            text-decoration: none;
        }

            a#pdf:hover {
                background: #222;
            }

        .job {
            position: relative;
            margin-bottom: 1em;
            padding-bottom: 1em;
            border-bottom: 1px solid #ccc;
        }

            .job h4 {
                position: absolute;
                top: 0.35em;
                right: 0;
            }

            .job p {
                margin: 0.75em 0 3em 0;
            }

        .last {
            border: none;
        }

        .skills-list {
        }

            .skills-list ul {
                margin: 0;
            }

            .skills-list li {
                margin: 3px 0;
                padding: 3px 0;
            }

                .skills-list li span {
                    font-size: 152%;
                    display: block;
                    margin-bottom: -2px;
                    padding: 0;
                }

        .talent {
            width: 32%;
            float: left;
        }

            .talent h2 {
                margin-bottom: 6px;
            }

        #srt-ttab {
            margin-bottom: 100px;
            text-align: center;
        }

            #srt-ttab img.last {
                margin-top: 20px;
            }

        /* --// override to force 1/8th width grids -- */
        .yui-gf .yui-u {
            width: 80.2%;
        }

        .yui-gf div.first {
            width: 12.3%;
        }
    </style>


</head>
<body>

    <div id="doc2" class="yui-t7">
        <div id="inner">

            <div id="hd">
                <div class="yui-gc">
                    <div class="yui-u first">
                        <h1>@Model.Name</h1>
                    </div>

                    <div class="yui-u">
                        <div class="contact-info">
                            <h3><a id="pdf" href="#">Download PDF</a></h3>
                            <h3><a href="mailto:@Model.Email">@Model.Email</a></h3>
                            <h3>@Model.Phone</h3>
                        </div><!--// .contact-info -->
                    </div>
                </div><!--// .yui-gc -->
            </div><!--// hd -->

            <div id="bd">
                <div id="yui-main">
                    <div class="yui-b">

                        <div class="yui-gf">
                            <div class="yui-u first">
                                <h2>Profile</h2>
                            </div>
                            <div class="yui-u">
                                <p class="enlarge">
                                    @Model.Profile
                                </p>
                            </div>
                        </div><!--// .yui-gf -->

                        <div class="yui-gf">
                            <div class="yui-u first">
                                <h2>Skills</h2>
                            </div>
                            <div class="yui-u">

                                @if (Model.Skill1Name != null)
                                {
                                    <div class="talent">
                                        <h2>@Model.Skill1Name</h2>
                                        <p>@Model.Skill1Description</p>
                                    </div>
                                }
                                

                                @if (Model.Skill2Name != null)
                                {
                                    <div class="talent">
                                        <h2>@Model.Skill2Name</h2>
                                        <p>@Model.Skill2Description</p>
                                    </div>
                                }

                                @if (Model.Skill3Name != null)
                                {
                                    <div class="talent">
                                        <h2>@Model.Skill3Name</h2>
                                        <p>@Model.Skill3Description</p>
                                    </div>
                                }

                                @if (Model.Skill4Name != null)
                                {
                                    <div class="talent">
                                        <h2>@Model.Skill4Name</h2>
                                        <p>@Model.Skill4Description</p>
                                    </div>
                                }

                                @if (Model.Skill5Name != null)
                                {
                                    <div class="talent">
                                        <h2>@Model.Skill5Name</h2>
                                        <p>@Model.Skill5Description</p>
                                    </div>
                                }

                                @if (Model.Skill6Name != null)
                                {
                                    <div class="talent">
                                        <h2>@Model.Skill6Name</h2>
                                        <p>@Model.Skill6Description</p>
                                    </div>
                                }
                            </div>
                        </div><!--// .yui-gf -->

                        <div class="yui-gf">
                            <div class="yui-u first">
                                <h2>Technical</h2>
                            </div>
                            <div class="yui-u">
                                @Model.Technical
                            </div>
                        </div><!--// .yui-gf-->

                        <div class="yui-gf">

                            <div class="yui-u first">
                                <h2>Experience</h2>
                            </div><!--// .yui-u -->

                            <div class="yui-u">

                                @if (Model.Experience1Name != null)
                                {
                                    <div class="job">
                                        <h2>@Model.Experience1Name</h2>
                                        <h3>@Model.Experience1Position</h3>
                                        <h4>@Model.Experience1Period</h4>
                                        <p>@Model.Experience1Description</p>
                                    </div>
                                }

                                @if (Model.Experience2Name != null)
                                {
                                    <div class="job">
                                        <h2>@Model.Experience2Name</h2>
                                        <h3>@Model.Experience2Position</h3>
                                        <h4>@Model.Experience2Period</h4>
                                        <p>@Model.Experience2Description</p>
                                    </div>
                                }

                                @if (Model.Experience3Name != null)
                                {
                                    <div class="job">
                                        <h2>@Model.Experience3Name</h2>
                                        <h3>@Model.Experience3Position</h3>
                                        <h4>@Model.Experience3Period</h4>
                                        <p>@Model.Experience3Description</p>
                                    </div>
                                }

                                @if (Model.Experience4Name != null)
                                {
                                    <div class="job">
                                        <h2>@Model.Experience4Name</h2>
                                        <h3>@Model.Experience4Position</h3>
                                        <h4>@Model.Experience4Period</h4>
                                        <p>@Model.Experience4Description</p>
                                    </div>
                                }

                                @if (Model.Experience5Name != null)
                                {
                                    <div class="job">
                                        <h2>@Model.Experience5Name</h2>
                                        <h3>@Model.Experience5Position</h3>
                                        <h4>@Model.Experience5Period</h4>
                                        <p>@Model.Experience5Description</p>
                                    </div>
                                }

                                @if (Model.Experience6Name != null)
                                {
                                    <div class="job">
                                        <h2>@Model.Experience6Name</h2>
                                        <h3>@Model.Experience6Position</h3>
                                        <h4>@Model.Experience6Period</h4>
                                        <p>@Model.Experience6Description</p>
                                    </div>
                                }
                            </div><!--// .yui-u -->
                        </div><!--// .yui-gf -->


                        <div class="yui-gf last">
                            <div class="yui-u first">
                                <h2>Education</h2>
                            </div>
                            @if (Model.Education1School != null)
                            {
                                <div class="yui-u">
                                    <h2>@Model.Education1School</h2>
                                    <h3>@Model.Education1Name</h3>
                                    <h4>@Model.Education1Period</h4>
                                </div>
                            }
                            @if (Model.Education2School != null)
                            {
                                <div class="yui-u">
                                    <h2>@Model.Education2School</h2>
                                    <h3>@Model.Education2Name</h3>
                                    <h4>@Model.Education2Period</h4>
                                </div>
                            }
                            @if (Model.Education3School != null)
                            {
                                <div class="yui-u">
                                    <h2>@Model.Education3School</h2>
                                    <h3>@Model.Education3Name</h3>
                                    <h4>@Model.Education3Period</h4>
                                </div>
                            }
                            @if (Model.Education4School != null)
                            {
                                <div class="yui-u">
                                    <h2>@Model.Education4School</h2>
                                    <h3>@Model.Education4Name</h3>
                                    <h4>@Model.Education4Period</h4>
                                </div>
                            }
                            @if (Model.Education5School != null)
                            {
                                <div class="yui-u">
                                    <h2>@Model.Education5School</h2>
                                    <h3>@Model.Education5Name</h3>
                                    <h4>@Model.Education5Period</h4>
                                </div>
                            }
                            @if (Model.Education6School != null)
                            {
                                <div class="yui-u">
                                    <h2>@Model.Education6School</h2>
                                    <h3>@Model.Education6Name</h3>
                                    <h4>@Model.Education6Period</h4>
                                </div>
                            }
                        </div><!--// .yui-gf -->


                    </div><!--// .yui-b -->
                </div><!--// yui-main -->
            </div><!--// bd -->

            <div id="ft">
                <p>@Model.Name &mdash; <a href="mailto:@Model.Email">@Model.Email</a> &mdash; @Model.Phone</p>
            </div><!--// footer -->

        </div><!-- // inner -->


    </div><!--// doc -->


</body>
</html>




