﻿@model CvGenProject.Models.TemplateForm

@{
    ViewBag.Title = "View";
}

<div class="marginator-150"></div>

<div class="container">
    <h2>Template #1 form</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.TemplateId, new { Value = ViewBag.templateId })
    @Html.HiddenFor(model => model.UserId, new { Value = ViewBag.userId })
    @Html.HiddenFor(model => model.CvUrl, new { Value = ViewBag.RandomNumber })

    

    <div class="form-horizontal">

        <hr />
        <!-- PERSONAL SECTION -->
        <div class="container">
            <blockquote class="blockquote">
                <p class="m-b-0"><strong>Personal</strong> Section</p>
                <h5><small>Enter information about you</small></h5>
            </blockquote>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TemplateName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.TemplateName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TemplateName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Profile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Profile, new { htmlAttributes = new { @class = "form-control", @rows = 7 } })
                @Html.ValidationMessageFor(model => model.Profile, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="container">
            <blockquote class="blockquote">
                <p class="m-b-0"><strong>Skills</strong> Section</p>
                <h5><small>You can add multiole skills ( 6 max.)</small></h5>
            </blockquote>
        </div>

        <!--================================================================================================= -->
        <!-- SKILLS SECTION -->
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h5><small>SKILL 1</small></h5>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Skill1Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Skill1Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Skill1Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Skill1Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Skill1Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Skill1Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" ng-hide="addSkill2">
            <div class="col-md-4 col-md-offset-2">
                <input type="checkbox" ng-model="addSkill2">Add one more skill
            </div>
        </div><!-- END OF SKILL 1-->
        <!-- SKILL 2-->
        <div ng-show="addSkill2">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h5><small>SKILL 2</small></h5>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Skill2Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Skill2Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill2Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Skill2Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Skill2Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill2Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" ng-hide="addSkill3">
                <div class="col-md-4 col-md-offset-2">
                    <input type="checkbox" ng-model="addSkill3">Add one more skill
                    <input type="checkbox" ng-model="addSkill2">Untick to remove skill
                </div>

            </div><!-- END OF SKILL 2-->
        </div>

        <div ng-show="addSkill3">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h5><small>SKILL 3</small></h5>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Skill3Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Skill3Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill3Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Skill3Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Skill3Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill3Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" ng-hide="addSkill4">
                <div class="col-md-4 col-md-offset-2">
                    <input type="checkbox" ng-model="addSkill4">Add one more skill
                    <input type="checkbox" ng-model="addSkill3">Untick to remove skill
                </div>
            </div><!-- END OF SKILL 3-->
        </div>

        <div ng-show="addSkill4">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h5><small>SKILL 4</small></h5>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Skill4Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Skill4Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill4Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Skill4Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Skill4Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill4Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div ng-hide="addSkill5">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <h5><small>SKILL 5</small></h5>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <input type="checkbox" ng-model="addSkill5">Add one more skill
                    <input type="checkbox" ng-model="addSkill4">Untick to remove skill
                </div>
            </div><!-- END OF SKILL 4-->
        </div>
        <!-- START OF SKILL 5-->
        <div class="form-group" ng-show="addSkill5">
            <div class="form-group">
                @Html.LabelFor(model => model.Skill5Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Skill5Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill5Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Skill5Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Skill5Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill5Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" ng-hide="addSkill6">
                <div class="col-md-4 col-md-offset-2">
                    <input type="checkbox" ng-model="addSkill6">Add one more skill
                    <input type="checkbox" ng-model="addSkill5">Untick to remove skill
                </div>
            </div>
        </div><!-- END OF SKILL 5-->
        <!-- START OF SKILL 6-->
        <div class="form-group" ng-show="addSkill6">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h5><small>SKILL 6</small></h5>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Skill6Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Skill6Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill6Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Skill6Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Skill6Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Skill6Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <input type="checkbox" ng-model="addSkill6">Untick to remove skill
                </div>
            </div>
        </div><!-- END OF SKILL 6-->
        <!-- END OF SKILLS -->
        <br />
        <!-- TECHNICAL -->
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h5><small>ADDITIONAL SKILLS</small></h5>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Technical, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Technical, new { htmlAttributes = new { @class = "form-control", @placeholder = "Separate skills with comas: Skill 1, Skill 2, Skill 3..." } })
                @Html.ValidationMessageFor(model => model.Technical, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="container">
            <blockquote class="blockquote">
                <p class="m-b-0"><strong>Expeerience</strong> Section</p>
                <h5><small>You can add multiple job records ( 6 max.)</small></h5>
            </blockquote>
        </div>

        <!-- EXPERIENCE -->
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h5><small>JOB 1</small></h5>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Experience1Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Experience1Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Experience1Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Experience1Period, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Experience1Period, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Experience1Period, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Experience1Position, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Experience1Position, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Experience1Position, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Experience1Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Experience1Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Experience1Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" ng-hide="addJob2">
            <div class="col-md-4 col-md-offset-2">
                <input type="checkbox" ng-model="addJob2">Add another Job
            </div>
        </div><!-- END OF JOB 1-->
        <!-- START OF JOB2 -->
        <div ng-show="addJob2">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h5><small>JOB 2</small></h5>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Experience2Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience2Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience2Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience2Period, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience2Period, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience2Period, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience2Position, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience2Position, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience2Position, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience2Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience2Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience2Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" ng-hide="addJob3">
                <div class="col-md-4 col-md-offset-2">
                    <input type="checkbox" ng-model="addJob3">Add another Job
                    <input type="checkbox" ng-model="addJob2">Untick to remove Job
                </div>
            </div>
        </div><!-- END OF JOB 2-->
        <!-- START OF JOB3 -->
        <div ng-show="addJob3">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h5><small>JOB 3</small></h5>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Experience3Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience3Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience3Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience3Period, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience3Period, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience3Period, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience3Position, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience3Position, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience3Position, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience3Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience3Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience3Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" ng-hide="addJob4">
                <div class="col-md-4 col-md-offset-2">
                    <input type="checkbox" ng-model="addJob4">Add another Job
                    <input type="checkbox" ng-model="addJob3">Untick to remove Job
                </div>
            </div>
        </div><!-- END OF JOB 3-->
        <!-- START OF JOB 4 -->
        <div ng-show="addJob4">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h5><small>JOB 4</small></h5>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Experience4Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience4Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience4Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience4Period, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience4Period, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience4Period, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience4Position, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience4Position, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience4Position, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience4Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience4Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience4Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" ng-hide="addJob5">
                <div class="col-md-4 col-md-offset-2">
                    <input type="checkbox" ng-model="addJob5">Add another Job
                    <input type="checkbox" ng-model="addJob4">Untick to remove Job
                </div>
            </div>
        </div><!-- END OF JOB 4 -->
        <!-- START OF JOB 5 -->
        <div ng-show="addJob5">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h5><small>JOB 5</small></h5>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Experience5Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience5Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience5Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience5Period, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience5Period, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience5Period, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience5Position, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience5Position, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience5Position, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience5Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience5Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience5Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" ng-hide="addJob6">
                <div class="col-md-4 col-md-offset-2">
                    <input type="checkbox" ng-model="addJob6">Add another Job
                    <input type="checkbox" ng-model="addJob5">Untick to remove Job
                </div>
            </div>
        </div><!-- END OF JOB 5 -->
        <!-- START OF JOB 6 -->
        <div ng-show="addJob6">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h5><small>JOB 6</small></h5>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Experience6Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience6Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience5Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience6Period, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience6Period, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience6Period, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience6Position, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience6Position, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience6Position, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience6Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Experience6Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience6Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <input type="checkbox" ng-model="addJob6">Untick to remove Job
                </div>
            </div>
        </div><!-- END OF JOB 6 -->
        <!-- EDUCATION SECTION -->
        <hr />
        <div class="container">
            <blockquote class="blockquote">
                <p class="m-b-0"><strong>EDUCATION</strong> Section</p>
                <h5><small>You can add multiple educations ( 6 max.)</small></h5>
            </blockquote>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h5><small>EDUCATION 1</small></h5>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Education1School, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Education1School, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Education1School, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Education1Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Education1Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Education1Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Education1Period, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Education1Period, new { htmlAttributes = new { @class = "form-control", @placeholder = "2010-2015" } })
                @Html.ValidationMessageFor(model => model.Education1Period, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" ng-hide="addSchool2">
            <div class="col-md-4 col-md-offset-2">
                <input type="checkbox" ng-model="addSchool2">Add another Education
            </div>
        </div>


        <!-- SCHOOL 2 -->
        <div ng-show="addSchool2">

            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h5><small>EDUCATION 2</small></h5>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Education2School, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Education2School, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Education2School, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Education2Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Education2Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Education2Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Education2Period, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Education2Period, new { htmlAttributes = new { @class = "form-control", @placeholder = "2007-2009" } })
                    @Html.ValidationMessageFor(model => model.Education2Period, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" ng-hide="addSchool3">
                <div class="col-md-4 col-md-offset-2">
                    <input type="checkbox" ng-model="addSchool3">Add another Education
                    <input type="checkbox" ng-model="addSchool2">Untick to remove Education
                </div>
            </div>
        </div><!-- END OF SCHOOL 2 -->
        <!-- SCHOOL 3 -->
        <div ng-show="addSchool3">

            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h5><small>EDUCATION 3</small></h5>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Education3School, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Education3School, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Education2School, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Education3Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Education3Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Education2Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Education3Period, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Education3Period, new { htmlAttributes = new { @class = "form-control", @placeholder = "2005-2007" } })
                    @Html.ValidationMessageFor(model => model.Education3Period, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" ng-hide="addSchool4">
                <div class="col-md-4 col-md-offset-2">
                    <input type="checkbox" ng-model="addSchool4">Add another Education
                    <input type="checkbox" ng-model="addSchool3">Untick to remove Education
                </div>
            </div>
        </div><!-- END OF SCHOOL 3 -->
        <!-- SCHOOL 4 -->
        <div ng-show="addSchool4">

            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h5><small>EDUCATION 4</small></h5>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Education4School, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Education4School, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Education4School, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Education4Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Education4Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Education4Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Education4Period, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Education4Period, new { htmlAttributes = new { @class = "form-control", @placeholder = "2003-2005" } })
                    @Html.ValidationMessageFor(model => model.Education4Period, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" ng-hide="addSchool5">
                <div class="col-md-4 col-md-offset-2">
                    <input type="checkbox" ng-model="addSchool5">Add another Education
                    <input type="checkbox" ng-model="addSchool4">Untick to remove Education
                </div>
            </div>
        </div><!-- END OF SCHOOL 4 -->
        <!-- SCHOOL 5 -->
        <div ng-show="addSchool5">

            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h5><small>EDUCATION 5</small></h5>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Education5School, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Education5School, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Education5School, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Education5Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Education5Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Education5Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Education5Period, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Education5Period, new { htmlAttributes = new { @class = "form-control", @placeholder = "2001-2003" } })
                    @Html.ValidationMessageFor(model => model.Education5Period, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" ng-hide="addSchool6">
                <div class="col-md-4 col-md-offset-2">
                    <input type="checkbox" ng-model="addSchool6">Add another Education
                    <input type="checkbox" ng-model="addSchool5">Untick to remove Education
                </div>
            </div>
        </div><!-- END OF SCHOOL 5 -->
        <!-- SCHOOL 6 -->
        <div ng-show="addSchool6">

            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h5><small>EDUCATION 6</small></h5>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Education6School, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Education6School, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Education6School, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Education6Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Education6Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Education6Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Education6Period, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Education6Period, new { htmlAttributes = new { @class = "form-control", @placeholder = "1997-2001" } })
                    @Html.ValidationMessageFor(model => model.Education6Period, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <input type="checkbox" ng-model="addSchool6">Untick to remove Education
                </div>
            </div>
        </div><!-- END OF SCHOOL 6 -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="col-md-4 col-md-offset-2 blueLink">
    @Html.ActionLink("Back to List", "Index")
</div>


<div class="marginator-50"></div>
