﻿@model CvGenProject.Models.TemplateForm

@{
    ViewBag.Title = "CV";
}

<div class="marginator-150"></div>

<div class="container">
    <h2>CV with ID = @Model.CvUrl</h2>

    @Html.DisplayForModel()
</div>
