﻿
@{
    ViewBag.Title = "FormCeated";
}

<div class="marginator-150"></div>

<div class="container">
    <div class="alert alert-success" role="alert">
        <h3>Success! - CV is created...</h3>
    </div>

    <a class="btn btn-info" href="/CV/ShowCV?id=@ViewBag.CvUrl">OPEN YOUR CV</a>

    @Html.ActionLink("OPEN YOUR CV", "ShowCV", new { controller = "CV" }, new { target = "_blank", id = ViewBag.CvUrl })
</div>

