﻿@model IEnumerable<CvGenProject.Models.Template>
@using Microsoft.AspNet.Identity

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Templates</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">

            @foreach (CvGenProject.Models.Template template in Model)
            {
                <!--START OF TEMPLATE-->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/Templates/Preview?id=@template.TemplateId" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="@template.PicturePreview" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>@template.Name</h4>
                        <p class="text-muted">@template.ShortDescription</p>
                    </div>
                </div>
                <!--END OF TEMPLATE-->
            }


        </div>
    </div>
</section>


