﻿@model CvGenProject.Models.Template

<div class="marginator-150"></div>
<div class="container">
    <div class="col-lg-8>
        <div class="modal-body">
            <h2>@Model.Name</h2>
            <p class="item-intro text-muted">@Model.ShortDescription</p>
            <img class="img-responsive marginator-30" src="@Model.PicturePreview" alt="">
            <p class="marginator-30">@Model.Description</p>
            <p class="marginator-30">
                <a class="btn btn-info" href="@Model.PreviewUrl" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i> LIVE PREVIEW</a>
               
                 <!-- if user logged-in -->
                @if (Request.IsAuthenticated)
                {
                    <a class="btn btn-success marginator-left-10" href="/Templates/Create?id=@Model.TemplateId&userId=@User.Identity.Name"><i class="fa fa-file-text-o"></i> Use This Template</a>
                    <a class="btn btn-danger marginator-left-10" href="/Templates/Index"><i class="fa fa-times"></i> Close template</a>
                }
                else {
                <!-- if it is anonymous user -->
                <a class="btn btn-danger marginator-left-10" href="/Templates/Index"><i class="fa fa-times"></i> Close template</a>

                <div class="row">
                    <div class="col-lg-5">
                        <div class="alert alert-danger" role="alert">
                            <strong>Attention</strong> Only registered users can create CVs.
                        </div>
                    </div>
                </div>
                
                <div class="blueLink">
                    <a href="/Account/Login">Please create an Accaunt...</a>
                </div>
                

                }



<p>
        </div>
    </div>
</div>

<div class="marginator-150"></div>
<br />

